
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Sarabun&family=Source+Sans+Pro&display=swap');


.menu-cima a:hover{
background-color: #FBB03B;
border-radius: 5px;
color: #fff;
transition: 0.6s;
padding: 5px;
}

.menu-cima{
    font-weight: bold;
    font-family: 'IBM Plex sans';
}



.menu-baixo a, .menu-cima a{
    color: #000;
}


main a:hover{
    background-color: #FBB03B;
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
}

main img {
    margin-top: 2px;
    border: 1px solid #59ABA7;
    display: flex;
    justify-content: space-around;
}

.menu-inicio .card{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
}


.card-body ul li {
    
    list-style: none;
}



.card-text{
    display: flex;
    align-items: center;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'source sans pro';
}

.card-link {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background-color:#59ABA7;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    
}

main a {
    display: flex;
    align-items: center;

}

ul li {
    margin-left: 10px;
}



.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

footer {
    
    background-color: #59ABA7;
    color: #fff;
}



/* Fundo login */
.container-login100 {
    width: 100%;
    min-height: 100vh;
   
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
   
    background: -webkit-linear-gradient(left,#98fff8,#f7a2a2);
  
}
* {
    margin: 0;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}
*, ::after, ::before {
    box-sizing: inherit;
}

footer a {
    color: #000;
}